body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family:'Roboto', sans-serif; 
    color: #8844ee;
    margin-top: 60px;
}
h1::after ,h1::before{
    content: "";
    width: 150px;
    height: 4px;
    background-color: currentColor;
    display: block;
    margin: 20px auto;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    max-width: 500px;
    line-height: 1.5em;
    margin: 20px auto;
    text-align: center;
    color: #010101;
}
p::after{
    content:"";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#8844ee;
    margin: 10px auto;
}